<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.PetCare"
        >
        <activity
            android:name=".emailUpdate"
            android:label="@string/title_activity_email_update"
            android:theme="@style/Theme.PetCare.NoActionBar"></activity>
        <activity android:name=".catsFaqTransition" />
        <activity android:name=".faqDryFood" />
        <activity android:name=".faqCatOther" />
        <activity android:name=".faqCatSocial" />
        <activity android:name=".faqCatTricks" />
        <activity android:name=".faqCatFeeding" />
        <activity android:name=".faqDogsMain" />
        <activity android:name=".faqCatsMain" />
        <activity android:name=".faqChoice" />

        <receiver
            android:name=".NotificationService"
            android:exported="true" />

        <activity android:name=".notificationActivity" />
        <activity android:name=".petNotifications" />
        <activity android:name=".passwordUpdate" />
        <activity android:name=".accountManagement" />
        <activity android:name=".myPets" />
        <activity android:name=".addPetFinish" />
        <activity android:name=".editPet" />
        <activity android:name=".eventsActivity" />
        <activity android:name=".viewPet" />
        <activity android:name=".addingPicture" />
        <activity android:name=".petInfo02" />
        <activity android:name=".petInfo01" />
        <activity android:name=".pickGender" />
        <activity android:name=".registration" />
        <activity android:name=".chooseType" />
        <activity android:name=".addNewPet" />
        <activity android:name=".faqDogTricks"/>
        <activity android:name=".faqDogFeeding"/>
        <activity android:name=".faqDogOther"/>
        <activity android:name=".faqDogBehaviour"/>
        <activity android:name=".userAccount" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>